<!-- 
5mins
	- upon receiving the context from view.py do the following:
		- if the is_user_authenticated is False
			-display "Invalid User Credentials" (header)
			-display "check username and password" (p tag)
		- else
			- display "password chjanged successfully" (header)
			- display "password has been updated!" (p tag)
	- access /change_password in browser and send a screenshot in the batch google chat
 -->


 {% if is_user_authenticated == False %}
    <h1>Invalid User Credentials</h1>
    <p>check username and password</p>

 {% else %}

    <h1>password changed successfully</h1>
    

 {% endif %}